.border-custom{
	margin:10px auto;
	display:flex;
	justify-content:between;
	wrap:wrap;
}
.child{
	background-color:blue;
	color:yellow;
	text-align:center;
	border-radius:15px;
	width:15%;
	margin:10px;
}
.clp{
	height:300px;
	width:500px;
	background-color:blue;
clip-path: polygon(100% 35%, 88% 50%, 100% 65%, 14% 65%, 0 50%, 14% 35%);
}
.clp-border{
display:flex;
justify-content:left;
}